@model USAElections.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/election.css" />
    
    <div class="center" style="text-align:center">
        <h2 class="text-primary">Presidential election results</h2>
    </div>

    <br />
    <br />

    <div class="center">
        <form asp-controller="election" asp-action="index" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <hr />

            <button type="submit" class="btn btn-light">Upload</button>
        </form>
    </div>

    <br />
    <br />

    @foreach (var city in Model.cities)
    {

        <button class="accordion">@city</button>
        <div class="panel">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Constituency Name
                        </th>
                        <th>
                            Number Of Votes
                        </th>
                        <th>
                            Candidate Name
                        </th>
                        <th>
                            Error
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.results)
                    {
                        //if obj.ConstituencyName == from Button onda idi dalje
                        if (obj.Item1.Equals(city))
                        {
                    <tr>
                        <td width="40%">@obj.Item1</td>
                        <td width="20%">@obj.Item2</td>
                        <td width="40%">@obj.Item3</td>
                        <td width="40%">@obj.Item4</td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <br />
    }

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>